Snapshots/ReferenceImages_64/BentoKitTests.ToggleSnapshotTests/test_toggle_loading_iPhone5@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ToggleSnapshotTests/test_toggle_off_iPhone5@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.OptionPickerSnapshotTests/test_default_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TextInputSnapshotTests/testTextInput_title_fill_proportionally_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionLegacySnapshotTests/test_has_icon_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_no_labels_no_image_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionLegacySnapshotTests/test_has_checkmark_iPhone5@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionLegacySnapshotTests/test_has_icon_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ToggleSnapshotTests/test_toggle_off_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_has_general_icon_accessory_icon_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_no_detail_but_many_vertically_arranged_labels_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.MultilineTextInputSnapshotTests filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionLegacySnapshotTests/test_has_checkmark_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionLegacySnapshotTests/test_is_loading_iPhone5@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_has_chevron_image_fixed_size_many_multi_line_labels_and_detail_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_has_chevron_image_fixed_size_some_empty_labels_and_detail_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.DescriptionComponentSnapshotTests/test_multiline_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.DescriptionComponentSnapshotTests/test_multiline_in_header_and_footer_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.EmptyComponentSnapshotTests/test_with_height_44_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TextInputSnapshotTests/testTextInput_without_title_iPhone5@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TextInputSnapshotTests/testTextInput_title_fit_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionLegacySnapshotTests/test_has_image_intrinsic_size_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_has_chevron_image_fixed_size_some_empty_labels_and_detail_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_no_accessory_icon_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.DescriptionComponentSnapshotTests/test_bold_text_accessory_button_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.DescriptionComponentSnapshotTests/test_chevron_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TextInputSnapshotTests/testTextInput_title_fill_proportionally_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionLegacySnapshotTests/test_fixed_title_width_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionLegacySnapshotTests/test_has_image_intrinsic_size_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ToggleSnapshotTests/test_toggle_on_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ActivityComponentSnapshotTests filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ActivityComponentSnapshotTests/test_loading_default_style_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ButtonComponentSnapshotTests/test_multiline_button_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ImageComponentSnapshotTests/testWithAccessory_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TextInputSnapshotTests/testTextInput_with_text_iPhone5@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_has_chevron_image_fixed_size_many_labels_and_detail_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_has_text_image_placeholder_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ToggleSnapshotTests filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ActivityComponentSnapshotTests/test_loading_default_style_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.DescriptionComponentSnapshotTests/test_multiline_in_header_and_footer_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ImageComponentSnapshotTests/testImageWithInfoStyle_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TextInputSnapshotTests filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.DescriptionComponentSnapshotTests/test_bold_text_accessory_button_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ImageComponentSnapshotTests/testWithAccessory_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TextInputSnapshotTests/testTextInput_without_title_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionLegacySnapshotTests/test_is_loading_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_has_chevron_image_fixed_size_many_multi_line_labels_and_detail_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_has_text_image_placeholder_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ButtonComponentSnapshotTests/test_button_loading_iPhone5@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ButtonComponentSnapshotTests/test_hugs_content_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.MultilineTextInputSnapshotTests/testShowingMultilineText_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TextInputSnapshotTests/testTextInput_without_title_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ToggleSnapshotTests/test_toggle_with_image_iPhone5@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ToggleSnapshotTests/test_toggle_with_image_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ToggleSnapshotTests/test_toggle_with_image_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_no_labels_no_image_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ToggleSnapshotTests/test_toggle_on_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ButtonComponentSnapshotTests/test_multiline_button_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionLegacySnapshotTests/test_has_icon_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_has_chevron_accessory_icon_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TextInputSnapshotTests/testTextInput_title_fill_proportionally_iPhone5@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionLegacySnapshotTests/test_has_chevron_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionLegacySnapshotTests/test_has_image_fixed_size_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_fixed_title_width_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ButtonComponentSnapshotTests filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ButtonComponentSnapshotTests/test_button_loading_asymmetric_layout_margins_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ButtonComponentSnapshotTests/test_button_with_title_not_loading_iPhone5@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.DescriptionComponentSnapshotTests/test_chevron_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_has_chevron_image_fixed_size_many_labels_and_detail_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_has_chevron_image_fixed_size_many_labels_and_detail_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionLegacySnapshotTests/test_has_text_image_placeholder_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_detail_but_no_vertically_arranged_labels_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_has_loading_accessory_icon_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_no_detail_but_many_vertically_arranged_labels_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_has_checkmark_accessory_icon_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ToggleSnapshotTests/test_toggle_with_image_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ButtonComponentSnapshotTests/test_multiline_button_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.DescriptionComponentSnapshotTests/test_default_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TextInputSnapshotTests/testTextInput_title_fit_iPhone5@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionLegacySnapshotTests/test_has_image_fixed_size_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.MultilineTextInputSnapshotTests/testShowingPlaceholderWhenHavingNoText_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TextInputSnapshotTests/testTextInput_with_text_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_has_text_image_placeholder_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_no_accessory_icon_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ActivityComponentSnapshotTests/test_loading_default_style_iPhone5@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ButtonComponentSnapshotTests/test_button_loading_asymmetric_layout_margins_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.DescriptionComponentSnapshotTests/test_default_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.MultilineTextInputSnapshotTests/testShowingPlaceholderWhenHavingNoText_iPhone5@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ToggleSnapshotTests/test_toggle_off_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ButtonComponentSnapshotTests/test_button_with_title_not_loading_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionLegacySnapshotTests/test_has_chevron_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_has_general_icon_accessory_icon_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.DescriptionComponentSnapshotTests/test_chevron_iPhone5@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ImageComponentSnapshotTests/testImageWithInfoStyle_iPhone5@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_detail_and_many_vertically_arranged_labels_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_detail_and_many_vertically_arranged_labels_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TextInputSnapshotTests/testTextInput_title_fit_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionLegacySnapshotTests/test_is_loading_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.DescriptionComponentSnapshotTests/test_chevron_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.DescriptionComponentSnapshotTests/test_default_iPhone5@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ImageComponentSnapshotTests filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TextInputSnapshotTests/testTextInput_title_fill_proportionally_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_fixed_title_width_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_has_chevron_image_fixed_size_many_multi_line_labels_and_detail_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ButtonComponentSnapshotTests/test_button_loading_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ButtonComponentSnapshotTests/test_hugs_content_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TextInputSnapshotTests/testTextInput_title_fit_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionLegacySnapshotTests/test_has_image_fixed_size_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionLegacySnapshotTests/test_has_icon_iPhone5@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.DescriptionComponentSnapshotTests/test_bold_text_accessory_button_iPhone5@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.DescriptionComponentSnapshotTests/test_bold_text_accessory_button_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.DescriptionComponentSnapshotTests/test_multiline_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.OptionPickerSnapshotTests/test_default_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionLegacySnapshotTests/test_has_text_image_placeholder_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_has_checkmark_accessory_icon_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ToggleSnapshotTests/test_toggle_off_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionLegacySnapshotTests/test_no_chevron_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ToggleSnapshotTests/test_toggle_loading_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ButtonComponentSnapshotTests/test_button_loading_asymmetric_layout_margins_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.DescriptionComponentSnapshotTests/test_multiline_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TextInputSnapshotTests/testTextInput_without_title_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionLegacySnapshotTests/test_no_chevron_iPhone5@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_no_accessory_icon_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.EmptyComponentSnapshotTests/test_with_height_22_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ImageComponentSnapshotTests/testWithAccessory_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionLegacySnapshotTests/test_fixed_title_width_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionLegacySnapshotTests/test_has_text_image_placeholder_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.EmptyComponentSnapshotTests/test_with_height_44_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_has_checkmark_accessory_icon_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_has_chevron_accessory_icon_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_has_image_fixed_size_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_no_detail_but_many_vertically_arranged_labels_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ButtonComponentSnapshotTests/test_button_with_title_not_loading_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.DescriptionComponentSnapshotTests/test_default_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.OptionPickerSnapshotTests/test_default_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionLegacySnapshotTests/test_has_checkmark_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_fixed_title_width_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.EmptyComponentSnapshotTests/test_with_height_22_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionLegacySnapshotTests/test_fixed_title_width_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionLegacySnapshotTests/test_has_chevron_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_detail_but_no_vertically_arranged_labels_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_has_general_icon_accessory_icon_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ToggleSnapshotTests/test_toggle_on_iPhone5@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ButtonComponentSnapshotTests/test_button_loading_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ImageComponentSnapshotTests/testImageWithInfoStyle_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ImageComponentSnapshotTests/testImageWithInfoStyle_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_has_chevron_image_fixed_size_some_empty_labels_and_detail_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TextInputSnapshotTests/testTextInput_with_text_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionLegacySnapshotTests filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionLegacySnapshotTests/test_has_checkmark_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionLegacySnapshotTests/test_no_chevron_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.DescriptionComponentSnapshotTests filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.MultilineTextInputSnapshotTests/testShowingMultilineText_iPhone5@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.MultilineTextInputSnapshotTests/testShowingPlaceholderWhenHavingNoText_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.OptionPickerSnapshotTests filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_detail_and_many_vertically_arranged_labels_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_has_chevron_accessory_icon_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ToggleSnapshotTests/test_toggle_loading_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_has_image_fixed_size_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_has_image_fixed_size_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ButtonComponentSnapshotTests/test_hugs_content_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.EmptyComponentSnapshotTests/test_with_height_22_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.EmptyComponentSnapshotTests/test_with_height_44_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_detail_but_no_vertically_arranged_labels_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionLegacySnapshotTests/test_is_loading_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionLegacySnapshotTests/test_no_chevron_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_has_loading_accessory_icon_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_has_loading_accessory_icon_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ActivityComponentSnapshotTests/test_loading_default_style_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ButtonComponentSnapshotTests/test_button_loading_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.MultilineTextInputSnapshotTests/testShowingPlaceholderWhenHavingNoText_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TextInputSnapshotTests/testTextInput_with_text_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ToggleSnapshotTests/test_toggle_loading_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ToggleSnapshotTests/test_toggle_on_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionLegacySnapshotTests/test_has_chevron_iPhone5@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.TitledDescriptionSnapshotTests/test_no_labels_no_image_iPhone6Plus@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.ButtonComponentSnapshotTests/test_button_with_title_not_loading_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.DescriptionComponentSnapshotTests/test_multiline_iPhone5@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.EmptyComponentSnapshotTests filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.MultilineTextInputSnapshotTests/testShowingMultilineText_iPhoneX@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.DescriptionComponentSnapshotTests/test_multiline_in_header_and_footer_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
Snapshots/ReferenceImages_64/BentoKitTests.MultilineTextInputSnapshotTests/testShowingMultilineText_iPhone6@2x.png filter=lfs diff=lfs merge=lfs -text
