SDKROOT = iphoneos
DEFINES_MODULE = YES
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
LD_RUNPATH_SEARCH_PATHS = @executable_path/Frameworks @loader_path/Frameworks
DYLIB_INSTALL_NAME_BASE = @rpath
SKIP_INSTALL = YES
ENABLE_BITCODE = NO
SWIFT_VERSION = 4.2
IPHONEOS_DEPLOYMENT_TARGET = 10.0
TARGETED_DEVICE_FAMILY = 1,2
ALWAYS_SEARCH_USER_PATHS = NO
CODE_SIGN_IDENTITY =
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM =
PROVISIONING_PROFILE_SPECIFIER =
